<div class="container">
  <div class="row">
    <div class="col-md-12">
 

        <div class="col-md-4" id="avatarColumn">    
          <div >
            <% if @user.avatar %>
            <%= image_tag @user.avatar, class: "img-responsive center-block" %>
            <% end %>
          </div>
        </div>

        <div class="col-md-8" id="introColumn">
            <h2><%= @user.name %></h1>
             <h4><%= @user.email %></h4>
             <div><%= @user.intro %></div>
             <% if @user.id == current_user.id %>
             
             <%= link_to 'Edit Profile', edit_user_path(current_user)  ,:class=>"btn btn-primary"%>
             <% end %>
        </div>
        
         <div class="clearfix"></div>
        
        <hr>


       <div class="col-md-12">
         <div class="col-md-4" id=""> 


              <div class="panel panel-default">
                    
                    <div class="panel-heading">
                     
                      <h3 class="panel-title">
                          Followings
                      </h3>
                   
                    </div>

                    <div class="panel-body">
                    
                        <% @followings.each do |following| %>
                          <div class="">
                          
                            <%= image_tag following.avatar, class: "img-responsive center-block" %>
        
                          <!-- 按需求讀取資料 -->
                          <%= link_to following.name, user_path(following) %>
                          </div>
                          <hr>
                       <% end %>

                    </div>

                  </div>

                <div class="panel panel-default">
                    
                    <div class="panel-heading">
                     
                      <h3 class="panel-title">
                          Follower
                      </h3>
                   
                    </div>

                    <div class="panel-body">
                    
                        <% @followers.each do |follower| %>
                          <div class="">
                         
                            <%= image_tag follower.avatar, class: "img-responsive center-block" %>
                          <!-- 按需求讀取資料 -->
                          <%= link_to follower.name, user_path(follower) %>
                          </div>
                          <hr>
                       <% end %>

                    </div>

                  </div>


         </div>

          <div class="col-md-8" id="">
 
                  <div class="panel panel-default">
                    
                    <div class="panel-heading">
                     
                      <h3 class="panel-title">
                          <%= @commented_restaurants.count %> 已評論過的餐廳
                      </h3>
                   
                    </div>

                    <div class="panel-body">
                    
                        <% @commented_restaurants.each do |restaurant| %>
                          <div class="my-restaurant">
                          <div>
                            <%= image_tag restaurant.image, class: "img-responsive center-block" %>
                          </div>
                          <!-- 按需求讀取資料 -->
                          <%= link_to restaurant.name, restaurant_path(restaurant) %>
                          </div>
                       <% end %>

                    </div>

                  </div>


                   <div class="panel panel-default">
                    
                    <div class="panel-heading">
                     
                      <h3 class="panel-title">
                          <%= @favorited_restaurants.count %> 收藏的餐廳
                      </h3>
                   
                    </div>

                    <div class="panel-body">
                    
                        <% @favorited_restaurants.each do |restaurant| %>
                          <div class="my-restaurant">
                          <div>
                            <%= image_tag restaurant.image, class: "img-responsive center-block" %>
                          </div>
                          <!-- 按需求讀取資料 -->
                          <%= link_to restaurant.name, restaurant_path(restaurant) %>
                          </div>
                       <% end %>

                    </div>

                  </div>
          </div>
        </div>
       


        <div>
        <%= link_to 'Back to index', restaurants_path %>
        </div>

    </div>
  </div>
</div>
