<div class="container">
  <div class="row">
    <div class="col-md-12">
 

        <div class="col-md-4">    
          <div >
            <%= image_tag @user.avatar, class: "img-responsive center-block" %>
          </div>
        </div>

        <div class="col-md-8">
            <h1><%= @user.name %></h1>
             <div><%= @user.email %></div>
             <div><%= @user.intro %></div>
        </div>
        
         <div class="clearfix"></div>
          <% if @user.id == current_user.id %>
          <%= link_to 'Edit Profile', edit_user_path(current_user) %>
          <% end %>
        <hr>

        <div> <%= @commented_restaurants.count %>已評論過的餐廳</div>
        <% @commented_restaurants.each do |restaurant| %>
            <div>

          <!-- 按需求讀取資料 -->
            <%= link_to restaurant.name, restaurant_path(restaurant) %>
            </div>
        <% end %>


        <div>
        <%= link_to 'Back to index', restaurants_path %>
        </div>

    </div>
  </div>
</div>
